@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Aktiv Grotesk Corp";
    src: url("../public/AktivGrotesk-Light.ttf")
    
    
  }

  @font-face {
    font-family: "Ortica";
    src: url("../public/Ortica-Light.otf")
  }