/* .container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
.clip {
    /* add bottom border */
    padding:0 20px 20px 0;
    background:linear-gradient(blue 20 20);
    background:linear-gradient(blue 0 0) 100% 100% / 80% 80% no-repeat;
    /* cut top corner */
    clip-path:polygon(30% 0,100% 0,100% 100%,0 100%,0 30%);
}

.container {
  position: relative;
}

.container::before {
  content: "";
  background: #1C2977;
  color: red;
  height: 2rem;
  width: 60%;
  left: -2rem;
  top: 1.3rem;
  position: absolute;
}

.container::after {
  content: "";
  background: #1C2977;
  width: 2rem;
  height: 50vh;
  top: 3rem;
  left: -2rem;
  position: absolute;
}

@media screen and (max-width: 976px) {
  .container::after {
    content: "";
    background: #1C2977;
    width: 2rem;
    top: 3rem;
    left: -2rem;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .container::after {
    content: "";
    background: #1C2977;
    width: 2rem;
    top: 0rem;
    height: 30vh;
    left: -2rem;
    position: absolute;
  }
  .container::before {
    content: "";
    background: #1C2977;
    height: 2rem;
    width: 60%;
    left: -2rem;
    top: 0rem;
    position: absolute;
  }
}


